.icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  svg {
    filter: drop-shadow(0 0 8px #7f19fc);
  }

  .icon_title {
    font-family: 'Grandstander', 'sans-serif';
    font-size: 2rem;
    color: #7f19fc;
    text-shadow: 0 0 8px #7f19fc;
    text-align: center;
  }
}
